<style>
 	
 	*{
 		box-sizing:border-box;
 	}
     
     h1{
     	text-align:center;
     }

 	p{
 		border:2px solid black;
 		background-color:grey;
 		padding:10px;
 		width:90%;
 		margin-left:10px;
 		margin-right:15px;
 		font-family:Helvetica;
 		overflow:auto;

 	}

 	.row {
 		width:100%;
 	}

 	#b1{
     background-color:lightblue;
     float:right;
     padding-left:10px;
     padding-right:10px; 
     border:1px solid black;
     position:relative;
     top:-10px;
     right:-10px;

 	}
 	#b2{
 		background-color:violet;
     float:right;
     padding-left:20px;
     padding-right:20px; 
     border:1px solid black;
     position:relative;
     top:-10px;
     right:-10px;


 	}
 	#b3{
		   background-color:lightyellow;
	     float:right;
	     padding-left:20px;
	     padding-right:20px; 
	     border:1px solid black;
	     position:relative;
	     top:-10px;
	     right:-10px;


 	}

 	 	/******media queries********/
  @media(min-width:992px) {
  	.col-lg-1,.col-lg-2,.col-lg-3{
  		float:left;
  	}
  
  .col-lg-1{
  	width:33.33%
  	
  	
  }
  .col-lg-2{
  	width:66.66%;

  }
  .col-lg-3{
  	width: 100%;
  }
}
    @media(min-width:768px) and (max-width:991px){
    	.col-md-1,.col-md-2,.col-md-3{
    		float:left;
    	}
    	.col-md-1{
    		width:50%;
    		
    	}
    	.col-md-2{
    		width:100%;
    	}
        .col-md-3{
        	width:106%;
        }
	</style>